body {
    background-color: #fff;
}

#page-content-wrapper {
    position: fixed;
    margin-left: 20px;
    background-color: #f1f1f1;
    height: 80%;
    width: 90%;
    border-radius: 10px 10px 10px 10px;
}

.navbar-inverse {
    background-color: #000;
}